html, body {
    background-image: linear-gradient(to bottom, darkblue, black);
    color: ivory;
    height: 100%;
}

h1, h2 {
    text-align: center;
}

#triad-container {
    border: 1px solid red;
    margin: auto;
    display: none;  /* Override once display setup is complete */
    position: relative;
}

.chord-box {
    background: ivory;
    position: absolute;
    margin: 0;
    color: black;
    text-align: center;
}
