html, body {
    background-image: linear-gradient(to bottom, darkblue, black);
    color: ivory;
    height: 100%;
}

h1, h2 {
    text-align: center;
}

#triad-container {
    border: 1px solid red;
    margin: auto;
    display: none;  /* Override once display setup is complete */
    position: relative;
}

#triad-selection {
    background: ivory;
    width: 100%;
    height: 30px;
}

.chord-box {
    background: ivory;
    position: absolute;
    margin: 0;
    color: black;
    text-align: center;
}

.assymetrical-chord-box {
    border-radius: 50%;
    display: flex;
}

.assymetrical-chord-box table {
    margin: auto;
}

.assymetrical-chord-box td {
    white-space: nowrap;
    margin: 0 10%;
}
