@import './consts.less';

html, body {
    margin: 0;
    background: darkblue;
    background-image: linear-gradient(to bottom, darkblue, black);
}

#root {
    color: ivory;
    height: 100%;
    height: 50em;
}

h1, h2 { text-align: center; }

.chord-container {
    margin: 4em auto 3em;
    position: relative;
    max-width: 60em;
    height: 30em;
}

.scale-filter-box {
    background-color: grey;
    display: flex;
    flex-direction: column;
    div {
        display: flex;
        align-items: center;
        flex-grow: 1;
        flex-wrap: wrap;
        margin-bottom: 15px;
        div {
            max-width: 50px;
            margin-bottom: 0;
        }
    }
    h2 { margin: 15px; }
    h3 {
        display: inline-block;
        margin: 0 15px;
    }
}

.chord-box {
    background: ivory;
    position: absolute;
    margin: 0;
    color: black;
    text-align: center;
    z-index: @chord-box-z-index;
    display: inline-block;
    padding: 0.6em;
    border-radius: 0.9em;
    border: 1px solid black;
}

.cardinal-chord-box {
    &:extend(.chord-box);
    white-space: nowrap;
}

.asymmetrical-chord-box {
    &:extend(.chord-box);
    table { margin: auto; }

    td {
        white-space: nowrap;
        margin: 0 10%;
    }
    .chordLinkCell { width: 20px; }
    .chordLabel { }
}

.disabled { color: @disabled-colour; }

.left-box {
    left: 0;
}
.h-middle-box {
    left: 50%;
    transform: translateX(-50%);
}
.right-box {
    right: 0;
}
.top-box {
    top: 0;
}
.v-middle-box {
    top: 50%;
    transform: translateY(-50%);
}
.bottom-box {
    bottom: 0;
}
